* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background-color: #bfbfbf;
}

h1, h2 {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #322332;
}

.disabled {
    background-color: #306510;
}

.active {
    color: #00ae14;
}

button, .button-link {
    border: none;
    background-color: #00ae14;
    cursor: pointer;
    padding: 5px 31px;
    border-radius: 5px;
}

header, main {
    padding: 15px 30px;
}

.App p {
    text-align: left;
    color: #666666;
}

.App h1, button, .button-link {
    color: #ffffff;
}

.button-link {
    display: block;
    text-align: center;
}

.button {
    margin-left: auto;
    position: relative;
}

header {
    display: flex;
    background-color: #151515;
}

.count {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 20px;
    top: -2px;
    right: -2px;
    background-color: #ffff00;
    font-size: 10px;
    text-align: center;
}

main {
    background-color: #eeeeee;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.chair {
    background-color: #ffffff;
    border-radius: 5px;
    width: 100%;
    padding: 3px;
}

img {
    width: 100%;
}

.chair button {
    width: 100%;
}

.cart, .contacts, .shipment {
    text-align: left;
}

.cart main, .contacts main, .shipment main, .ending main {
    display: block;
    padding: 15px 188px;
}

main .button-link {
    width: fit-content;
}

.stored_chair {
    display: flex;
    background-color: #ffffff;
    margin-bottom: 10px;
    gap: 0 10px;
}

.stored_chair .left {
    flex-grow: 1;
}
.stored_chair .center {
    flex-grow: 4;
}

.stored_chair .right {
    flex-grow: 2;
    text-align: right;
}
.cart .right p {
    text-align: right;
}

.stored_chair > * {
    flex: 1;
}

.counter button {
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
}
.ending p {
    text-align: center;
}
.ending .information p {
    text-align: left;
}
.form {
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 1px;
}
.flex {
    display: flex;
}
.field {
    margin: 0 30px 30px 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    position: relative;
}
.field input {
    border: none;
    border-bottom: 1px solid #666666;
}
.field .on_error {
    border-bottom: 1px solid #ff0000;
}
.field .error {
    color: #ff0000;
    position: absolute;
    top: 32px;
    left: 0;
}
.information {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.information > * {
    background-color: #ffffff;
    padding: 10px;
}
.contact_information, .shipment_information {
    flex-basis: calc(50% - 25px);
}
.order_summary {
    flex-basis: 100%;
}
.stored_chair .img {
    flex-grow: 1;
}
.stored_chair .text {
    flex-grow: 6;
}
.ending .stored_chair {
    border-bottom: 1px solid #cdcdcd;
    padding: 10px 0;
}

@media (min-width: 576px) {
	.chair {
		width: 120px;
	}
}